<p-dialog [(visible)]="display" (onAfterHide)="alert('Dialog hidden!')" [width]="1000" [height]="650" [closable]=false [resizable]=false>
  <p-header>
    {{titleModal}}

  </p-header>
  <p-tabView>
    <p-tabPanel header="Pomiary" leftIcon="fa-thermometer-full">
      <div class="row">
        <div id="airQualityIndex" class="col-md-4">
          <div [ngStyle]="{'background': setColorHTML('airQualityIndex')}" class="card text-center z-depth-2">
            <div class="card-body">
              <p class="white-text mb-0">CAQI Indeks</p>
              <p class="white-text mb-0">{{averageMeasurements.airQualityIndex.average}}</p>
            </div>
          </div>
        </div>
        <div id="pm10" class="col-md-4">
          <div [ngStyle]="{'background': setColorHTML('pm10')}" class="card text-center z-depth-2">
            <div class="card-body">
              <p class="white-text mb-0">PM10</p>
              <p class="white-text mb-0">{{averageMeasurements.pm10.average}}</p>
            </div>
          </div>
        </div>
        <div id="pm25" class="col-md-4">
          <div [ngStyle]="{'background': setColorHTML('pm25')}" class="card text-center z-depth-2">
            <div class="card-body">
              <p class="white-text mb-0">PM25</p>
              <p class="white-text mb-0">{{averageMeasurements.pm25.average}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="pollutionLevel" class="col-md-4">
          <div [ngStyle]="{'background': setColorHTML('pollutionLevel')}" class="card text-center z-depth-2">
            <div class="card-body">
              <p class="white-text mb-0">Poziom zanieczyszczeń</p>
              <p class="white-text mb-0">{{averageMeasurements.pollutionLevel.average}}</p>
            </div>
          </div>
        </div>
        <div id="temperature" class="col-md-4">
          <div [ngStyle]="{'background': setColorHTML('temperature')}" class="card text-center z-depth-2">
            <div class="card-body">
              <p class="white-text mb-0">Temperatura</p>
              <p class="white-text mb-0">{{averageMeasurements.temperature.average}} &#8451;</p>
            </div>
          </div>
        </div>
        <div id="humidity" class="col-md-4">
          <div [ngStyle]="{'background': setColorHTML('humidity')}" class="card text-center z-depth-2">
            <div class="card-body">
              <p class="white-text mb-0">Wilgotność</p>
              <p *ngIf="averageMeasurements.humidity.average then humidityYes; else humidityNo" class="white-text mb-0"></p>
              <ng-template #humidityYes>
                <p class="white-text mb-0">{{averageMeasurements.humidity.average}} %</p>
              </ng-template>
              <ng-template #humidityNo>
                <p class="white-text mb-0">Brak danych</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h3>Legenda</h3>
      </div>
      <!-- <div class="row">
                <div id="pressure" class="col-md-4">
                    <div [ngStyle]="{'background': setColorHTML('pressure')}" class="card text-center z-depth-2">
                      <div class="card-body">
                          <p class="white-text mb-0">Ciśnienie</p>
                          <p class="white-text mb-0">{{averageMeasurements.pm25.pressure}}</p>
                      </div>
                    </div>
                  </div>
              </div> -->
    </p-tabPanel>
    <p-tabPanel header="Opis" leftIcon="fa-print">
      Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito
      Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the
      American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills
      his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,
      killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone,
      Vito's communal stature grows.
    </p-tabPanel>
    <p-tabPanel header="Szukaj" leftIcon="fa-search">
      After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third
      and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone,
      now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely
      legitimate.
    </p-tabPanel>
  </p-tabView>
  <p-footer>   <button type="button" pButton icon="fa-close" (click)="close()" label="Zamknij"></button></p-footer>
</p-dialog>

