::ng-deep .navbar {
  background-color: transparent;
}
::ng-deep .top-nav-collapse {
  background-color:  rgb(175, 175, 175);
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: rgb(175, 175, 175);
  }
}
